<footer class="footer">
    <div class="list">
        <div class="logo">
            <div class="container-logo">
            <img src="assets/logo.svg" alt="logo" class="image">
            
            <span class="span">Taric</span>
            </div>
        </div>
        <div class="version">
           
        </div>
            <div class="copyright">
            <span>
                Developed by F.B.
            </span>
            <span>
                <a href="https://developer.riotgames.com/" target="_blank">
                    Data provided by Riot API
                </a>
            </span>
            <span>
                <a href="https://github.com/kekko0002/ritopls" target="_blank">
                    Find this project on my Github
                </a>
            </span>
        </div>
    </div>
</footer>