<div class="container">
    <img src="assets/Sad.png" class="img">
    <div class="text">
        <div class="field">
            Oh no, something went wrong :(
        </div>
        <div class="field">
           <span class="bold">Error code:</span> {{data.error.status.status_code}}
        </div>
        <div class="field">
            <span class="bold">Description: </span> {{data.error.status.message}}
        </div>
        <div class="field">
            Try to refresh the page or try again later.
        </div>
    </div>
    <button color="primary" class="button" mat-raised-button mat-dialog-close>Close</button>
</div>
